<!DOCTYPE html>
<html>

    {{ block "meta" . }}
        {{ partial "meta.html" . }}
    {{ end }}

    <body>
        {{ block "header" . }}
            {{ partial "header.html" . }}
        {{ end }}

        {{ block "main" . }}
        {{ end }}

        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}

        <script src="js/app.js"></script>
    </body>
</html>