<footer class="footer m-t-120 ip-footer-paddings">
    <div class="container">
        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="link has-text-light">О нас</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-light">Контакты</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-light">Карта сайта</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-light">Политика конфиденциальности</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-light">Пользовательское соглашение</a>
            </p>
        </nav>
    </div>

    <hr class="o-5">

    <div class="container">
        <div class="columns is-vcentered">
            <!-- Левый блок -->
            <div class="column is-one-half is-left has-text-white">
                <!-- Лого -->
                <img class="logo-with-text-size m-10" src="/img/logo/logo-with-text-negative.svg">

                <!-- Социалки -->
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="icon bg-rounded-negative m-10">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.vk.com/" target="_blank" class="icon bg-rounded-negative m-10">
                        <i class="fa fa-vk"></i>
                    </a>

                    <a href="https://www.ok.ru/" target="_blank"  class="icon bg-rounded-negative m-10">
                        <i class="fa fa-odnoklassniki"></i>
                    </a>

                    <a href="https://www.twitter.com/" target="_blank"  class="icon bg-rounded-negative m-10">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- Правый блок -->
            <div class="column is-one-half has-text-white has-text-right">
                <p><b>Контакты</b></p>

                <p>
                    <span>
                        г. Нижний Новгород ул. Ванеева, д. 18, офис 405
                    </span>

                    <span class="icon is-small">
                        <i class="fa fa-map-marker"></i>
                    </span>
                </p>

                <p>
                    <span>
                        8 (800) 511-04-74
                    </span>

                    <span class="icon is-small">
                        <i class="fa fa-phone"></i>
                    </span>
                </p>

                <p>
                    <span>
                        info@iplatforms.ru
                    </span>

                    <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                    </span>
                </p>
            </div>
        </div>
        <!-- Копирайт -->
        <p class="has-text-light is-size-7 m-t-30">
            Copyright © 2017, Intelligence Platforms, Все права защищены
        </p>
    </div>
</footer>
