<header class="navbar">
    <div class="container">

        <div class="navbar-brand">
            <a style="height: 100%">
                <img class="ip-logo va-middle logo-with-text-size" src="/img/logo/logo-with-text.svg">
            </a>

            <div class="navbar-burger burger has-text-dark" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- Меню для больших экранов -->
        <!-- <div id="navbarMenuHeroC" class="navbar-menu ip-menu is-hidden-desktop-only is-hidden-tablet-only is-hidden-mobile"> -->
        <div id="navbarMenuHeroC" class="navbar-menu ip-menu">
            <div class="navbar-end has-text-dark is-uppercase">
                <a class="navbar-item is-active" href="/">Главная</a>
                <span class="navbar-dot"></span>
                <a class="navbar-item">Новости</a>
                <span class="navbar-dot"></span>
                <a class="navbar-item" href="/partners">Партнерам</a>
                <span class="navbar-dot"></span>
                <a class="navbar-item">Контакты</a>
            </div>
        </div>

        <!-- Меню для 1024 и меньше -->
        <!-- <div id="navbarMenuHeroC" class="navbar-menu ip-menu is-hidden-widescreen-only is-hidden-fullhd-only">
            <div class="navbar-end has-text-dark is-uppercase">
                <a class="navbar-item is-active">Главная</a>
                <a class="navbar-item">Новости</a>
                <a class="navbar-item">Партнерам</a>
                <a class="navbar-item">Контакты</a>
            </div>
        </div> -->
    </div>
</header>