// Hero section
.ip-hero
    line-height: 127px
    background-color: $ip-pale-lavender

    .navbar-burger
        height: 7.9rem !important
        width: 7.9rem !important

// Hero navbar
.ip-menu
    background-color: $ip-pale-lavender !important

    .navbar-item,
    .navbar-item.is-active
        padding-left: 40px
        padding-right: 40px
    
    .navbar-item
        &.is-active,
        &.is-active:hover
            background-color: transparent !important
            color: $ip-dodger-blue !important
        
        &:hover
            background-color: transparent !important
            color: $grey-light !important
    
    .navbar-end
        align-items: center

    .navbar-dot
        width: 8px
        height: 8px
        border: 2px solid $ip-dodger-blue
        border-radius: 50%


// Hero tiles
.ip-hero-tile
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    height: 350px
    border-radius: 2px
    padding: 2em

    background-color: $ip-dodger-blue

    -webkit-transition: all .15s linear   
    -moz-transition: all .15s linear   
    -ms-transition: all .15s linear   
    -o-transition: all .15s linear   
    transition: all .15s linear

    .back-side
        display: none

    &:hover
        background-color: rgba($ip-pale-lavender, .9)

        .front-side
            display: none

        .back-side
            display: block

        p
            color: $ip-dirty-purple !important


// Hero background
.ip-bg-shape
    position: relative

    .ip-bg-shape-image
        position: absolute
        height: 100%
        opacity: .15
