// Logo
.logo-with-text-size
    width: 330px

footer
    .logo-with-text-size
        width: 300px


// Rounded backgrounds
.bg-rounded-negative
    background-color: $ip-pale-lavender
    border-radius: 50%
    padding: 10px
    color: $ip-dirty-purple
    opacity: .5

    &:hover
        opacity: 1


// Default line-height
.ip-lineheight-default
    line-height: 1.7


// Z-indexes
.is-zindex-0
    z-index: 0

.is-zindex-1
    z-index: 1


// Opacity
.o-5
    opacity: .05


// Radius
.img-rounded
    border-radius: 50%

.b-r-default
    border-radius: 2px


// Paddings
.p-r-50
    padding-right: 50px


// Margins
.m-10
    margin: 10px

.m-b-20
    margin-bottom: 20px

.m-b-70
    margin-bottom: 70px

.m-t-20
    margin-top: 20px

.m-t-30
    margin-top: 30px

.m-t-50
    margin-top: 50px

.m-t-60
    margin-top: 60px

.m-t-70
    margin-top: 70px

.m-t-120
    margin-top: 120px


// FLoats
.float-left
    float: left

.float-right
    float: right


// Vertical aligns
.va-middle
    vertical-align: middle


//  Flex align items
.v-to-center
    align-items: center

.v-to-bottom
    align-items: flex-end
