{{ define "header" }}
    <section class="hero is-dark is-fullheight ip-bg-shape">
        <div class="hero-head ip-hero is-zindex-1">
            {{ partial "header.html" . }}
        </div>

        <div class="hero-body is-zindex-1">
            <div class="container">

                <!-- Кратко о компании -->
                <div class="tile is-ancestor">
                    <div class="tile is-5">
                        <div class="tile is-vertical">
                            <div class="tile">
                                <div class="tile is-parent is-vertical">
                                    <article class="tile is-child p-r-50">
                                        <h4 class="title is-spaced">
                                            Мы разрабатываем и производим сервисные платформы для телеком-операторов, банков и страховых компаний
                                        </h4>

                                        <br>

                                        <p class="subtitle ip-lineheight-default">
                                            У нас есть опыт анализа данных и разработки приложений, в том числе web и мобильных приложений
                                        </p>

                                        <a href="" class="has-text-warning">
                                            Подробнее о нас
                                            <span class="icon">
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                        </a>
                                    </article>
                                </div>
                            </div>

                            <div class="tile is-parent is-hidden-mobile v-to-bottom">
                                <article class="tile is-child">
                                    <div class="content">
                                        <p>
                                            <span class="is-size-5">8 (800) 511-04-74</span>
                                            <br>
                                            <span class="is-size-7">звонок по России бесплатный</span>
                                        </p>
                                        <button class="button is-dark is-inverted">Перезвоните мне</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <!-- Плитка -->
                    <div class="tile is-vertical">
                        <div class="tile">
                            <div class="tile is-parent">
                                <a class="tile is-child ip-hero-tile">
                                    
                                    <!-- Лицевая сторона -->
                                    <figure class="image is-96x96 front-side">
                                        <img src="img/icons/simple/sim.png" alt="Icon made by Those Icons, https://www.flaticon.com/authors/those-icons">
                                    </figure>

                                    <p class="subtitle has-text-centered m-t-50 front-side">
                                        Специализированные <br> SIM-карты
                                    </p>

                                    <!-- Оборотная сторона (с описанием) -->
                                    <p class="subtitle has-text-centered back-side">
                                        Специализированные <br> SIM-карты
                                    </p>
                                    
                                    <p class="content has-text-centered back-side">
                                        Это решения, в основе которых заложено общение 
                                        всевозможных датчиков, сенсоров и прочего «железа» 
                                        между собой на основе беспроводной связи
                                    </p>

                                    <button class="button is-primary back-side">
                                        <span>Перейти</span>
                                        <span class="icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </button>
                                    
                                </a>
                            </div>

                            <div class="tile is-parent">
                                <a class="tile is-child ip-hero-tile">
                                    
                                    <!-- Лицевая сторона -->
                                    <figure class="image is-96x96 front-side">
                                        <img src="img/icons/simple/big-data.png" alt="Icon made by Smartline, https://www.flaticon.com/authors/smartline">
                                    </figure>

                                    <p class="subtitle has-text-centered m-t-50 front-side">
                                        Скоринговые модели <br> (Big Data)
                                    </p>

                                    <!-- Оборотная сторона (с описанием) -->
                                    <p class="subtitle has-text-centered back-side">
                                        Скоринговые модели <br> (Big Data)
                                    </p>
                                    
                                    <p class="content has-text-centered back-side">
                                        Программно-аппаратный комплекс, который позволяет 
                                        давать числовую оценку (скоринговое очко) 
                                        исследуемого лица по разным параметрам
                                    </p>

                                    <button class="button is-primary back-side">
                                        <span>Перейти</span>
                                        <span class="icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </button>

                                </a>
                            </div>
                        </div>

                        <div class="tile">
                            <div class="tile is-parent">
                                <a class="tile is-child ip-hero-tile">
                                        
                                    <!-- Лицевая сторона -->
                                    <figure class="image is-96x96 front-side">
                                        <img src="img/icons/simple/circuit.png" alt="Icon made by Becris, https://www.flaticon.com/authors/becris">
                                    </figure>

                                    <p class="subtitle has-text-centered m-t-50 front-side">
                                        Разработка <br> аналитических моделей
                                    </p>

                                    <!-- Оборотная сторона (с описанием) -->
                                    <p class="subtitle has-text-centered back-side">
                                        Разработка <br> аналитических моделей
                                    </p>
                                    
                                    <p class="content has-text-centered back-side">
                                        Разработка моделей для выявления явных/неявных 
                                        закономерностей, поиск искомых событий , частотный 
                                        анализ данных, нормализация и обогощение данных
                                    </p>

                                    <button class="button is-primary back-side">
                                        <span>Перейти</span>
                                        <span class="icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </button>

                                </a>
                            </div>

                            <div class="tile is-parent">
                                <a class="tile is-child ip-hero-tile">
                                        
                                    <!-- Лицевая сторона -->
                                    <figure class="image is-96x96 front-side">
                                        <img src="img/icons/simple/shield.png" alt="Icon made by Miscellaneous Elements, https://www.flaticon.com/packs/miscellaneous-elements">
                                    </figure>
                                    
                                    <p class="subtitle has-text-centered m-t-50 front-side">
                                        IT-безопасность
                                    </p>

                                    <!-- Оборотная сторона (с описанием) -->
                                    <p class="subtitle has-text-centered back-side">
                                        IT-безопасность
                                    </p>
                                    
                                    <p class="content has-text-centered back-side">
                                        Проведение компьютерно-технических исследований и экспертиз.
                                        Расследование инцидентов информационной безопасности.
                                        Аудит информационной безопасности, бизнес-разведка
                                    </p>

                                    <button class="button is-primary back-side">
                                        <span>Перейти</span>
                                        <span class="icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </button>
                                
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <img class="ip-bg-shape-image is-hidden-mobile is-hidden-tablet-only is-zindex-0" src="img/bg-gshapes.svg" alt="Backgroung image created by Kjpargeter - Freepik.com">
    </section>
{{ end }}


{{ define "main" }}
    <!-- О нас -->
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title is-4 has-text-dark is-uppercase">О нас</h2>
            
            <div class="columns is-vcentered m-t-60">
                <div class="column">
                    <img src="img/photos/coding.png">
                </div>
                <div class="column">
                    <div class="content has-text-left is-size-5-desktop">
                        <p>
                            Мы разрабатываем и производим сервисные платформы 
                            для телеком операторов, банков и страховых компаний. 
                        </p>

                        <br>

                        <p>
                            В нашем арсенале имеется значительный опыт анализа 
                            данных и разработки приложений (в том числе мобильных
                            и WEB приложений).
                        </p>
                    </div>
                </div>
            </div>

            <div class="columns is-vcentered m-t-60">
                <div class="column">
                    <div class="content has-text-left is-size-5-desktop">
                        <p>
                            Кроме этого, мы являемся официальным дистрибьютором 
                            эксклюзивных тарифов для online-устройств (M2M) всех 
                            ведущих операторов мобильной связи в РФ.
                        </p>

                        <br>

                        <p>
                            Мы предоставляем нашим партнерам возможность подключать 
                            своих клиентов к адаптированным под потребности конкретных 
                            устройств и выгодным для них тарифам, а также возможность 
                            наращивать свою прибыль, участвуя в нашей партнерской 
                            программе.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <img src="img/photos/woman-call.png">
                </div>
            </div>

            <div class="columns is-vcentered m-t-60">
                <div class="column">
                    <img src="img/photos/cooperation.png">
                </div>
                <div class="column">
                    <div class="content has-text-left is-size-5-desktop">
                        <p>
                            Мы всегда открыты к предложениям по сотрудничеству в сфере
                            IoT, M2M и BIG DATA.
                        </p>

                        <br>

                        <p>
                            Более чем десятилетний опыт работы нашей
                            команды на рынке телеком- и интернет-услуг.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-t-20 m-b-20">

    <!-- Партнеры -->
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title is-4 has-text-dark is-uppercase">С нами работают</h2>
        </div>

        <div class="columns m-t-50">
            <div class="column is-4 is-offset-4">
                <div class="columns is-v-centered">
                    <div class="column has-text-centered">
                        <img src="img/logo/partners/megafon.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/beeline.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/mts.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="columns is-v-centered">
                    <div class="column has-text-centered">
                        <img src="img/logo/partners/tele2.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/shtrih-m.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/qiwi.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="columns m-t-30">
            <div class="column is-4 is-offset-4">
                <div class="columns is-v-centered">
                    <div class="column has-text-centered">
                        <img src="img/logo/partners/motiv.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/integro.png">
                    </div>

                    <div class="column has-text-centered">
                        <img src="img/logo/partners/inkoteks.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Отзывы -->
    <section class="section m-t-20">
        <div class="container">
            <div class="tile is-ancestor has-text-centered">
                <!-- 1 -->
                <div class="tile is-parent">
                    <div class="tile is-child notification is-dark">
                        <div class="content">
                            <p>
                                <i class="fa fa-grav fa-5x"></i>
                            </p>

                            <h6 class="title is-5">Александр Литвин</h6>
                            <h6 class="subtitle is-6">руководитель проекта А</h6>

                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="tile is-parent">
                    <div class="tile is-child notification is-dark">
                        <div class="content">
                            <p>
                                <i class="fa fa-grav fa-5x"></i>
                            </p>

                            <h6 class="title is-5">Сергей Белоозерский</h6>
                            <h6 class="subtitle is-6">руководитель проекта Б</h6>

                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="tile is-parent">
                    <div class="tile is-child notification is-dark">
                        <div class="content">
                            <p>
                                <i class="fa fa-grav fa-5x"></i>
                            </p>

                            <h6 class="title is-5">Игорь Тринин</h6>
                            <h6 class="subtitle is-6">руководитель проекта В</h6>

                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                                Consectetur adipiscing elit.
                                Phasellus at aliquam leo.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <hr class="m-t-20 m-b-20">

    <!-- Последние события -->
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title is-4 has-text-dark is-uppercase">Последние события</h2>
            
            <div class="columns is-vcentered m-t-60">
                <!-- 1 -->
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="content">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img class="img-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Lorem ipsum</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.												  
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="content">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img class="img-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Lorem ipsum</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna erostus.												  
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="content">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img class="img-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Lorem ipsum</strong>
                                            <br>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna erostus.	
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>

            <button class="button is-primary">
                <span>Все новости</span>

                <span class="icon">
                    <i class="fa fa-angle-right"></i>
                </span>
            </button>
        </div>
    </section>

    <hr class="m-t-20 m-b-20">

    <!-- Последние события -->
    <section class="section">
        <div class="container">
            <h2 class="title is-4 has-text-centered has-text-dark is-uppercase">Задайте нам вопрос</h2>
            
            <div class="columns is-vcentered m-t-60">
                <div class="column is-4 is-offset-4">
                    <!-- Имя -->
                    <div class="field">
                        <label class="label">Ваше имя</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Ваше имя">
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <!-- E-mail -->
                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="E-mail">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Сообщение -->
                    <div class="field">
                        <label class="label">Сообщение</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Ваше сообщение"></textarea>
                        </div>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox" checked>
                        Я согласен на <a href="#">обработку персональных данных</a>
                    </label>

                    <div class="has-text-centered m-t-50">
                        <button class="button is-primary">
                            <span>Отправить</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>

{{ end }}